::-moz-selection,
::selection{
	background-color: rgba(0,0,0,.2);
}

@font-face {
    font-family: 'FlamaSemicondensedSemibold';
    src: url('../fonts/flamasemicondensed-semibold.eot');
    src: url('../fonts/flamasemicondensed-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamasemicondensed-semibold.woff') format('woff'),
         url('../fonts/flamasemicondensed-semibold.ttf') format('truetype'),
         url('../fonts/flamasemicondensed-semibold.svg#FlamaSemicondensedSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.card .cabore {
  background-image:url(../img/carta-img-trofeu.png);
}

.card.esquerda {
	top: 31px;
	left: 30px;
}

p.colunaDeTexto {
	color: #fff;
	padding: 48px;
	padding-left: 245px;
	font-size: 15px;
	line-height: 21px;
	margin: 0px;
}

p.colunaDeTexto strong {
	font-family: "FlamaSemicondensedSemibold";
	color: #fff;
	text-decoration: none;
	font-weight: normal;
  font-style: normal;
}