@font-face {
    font-family: 'FlamaSemicondensedBasic';
    src: url('../fonts/flamasemicondensed-basic-webfont.eot');
    src: url('../fonts/flamasemicondensed-basic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamasemicondensed-basic-webfont.woff') format('woff'),
         url('../fonts/flamasemicondensed-basic-webfont.ttf') format('truetype'),
         url('../fonts/flamasemicondensed-basic-webfont.svg#FlamaSemicondensedBasic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FlamaSemicondensedSemibold';
    src: url('../fonts/flamasemicondensed-semibold-webfont.eot');
    src: url('../fonts/flamasemicondensed-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamasemicondensed-semibold-webfont.woff') format('woff'),
         url('../fonts/flamasemicondensed-semibold-webfont.ttf') format('truetype'),
         url('../fonts/flamasemicondensed-semibold-webfont.svg#FlamaSemicondensedSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
::-moz-selection{background-color: rgba(0,0,0,.2);}
::selection{background-color: rgba(0,0,0,.2);}
body{
  font-family: "FlamaSemicondensedBasic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
  background-color:#2a543d; /*vinho 6c2b2c*/
  width:100%;
}
body.loaded{
    background-color:#4e9b70; /*vinho c85051*/  
}
body a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
body a,
body a:hover,
body a:visited {
	color: #fff;
}
body strong {
  font-family: "FlamaSemicondensedSemibold";
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
/************** TEXTO ********************/
h2,h3,h4 {
    font-weight: normal;
    color: #fff;
    margin:0;
}
h2 {
  font-family: "FlamaSemicondensedBasic";
	font-size:15px;
	text-align: center;
	text-transform: uppercase;
	margin-top: -30px;
}
h3{
  font-family: "FlamaSemicondensedSemibold";
	font-size:15px;
  margin-bottom:1em;
}
h4{
	font-size:18px;
	text-align: center;
	padding-top: 85px;
}
.colunaDeTexto{
  padding: 48px;
  padding-left: 253px;
  color: #fff;
}
.colunaDeTexto p {
  font-size: 15px;
  line-height: 21px;
  margin: 0px;
}
.colunaDeTexto.noSidebar{
  padding: 48px;
}
/************** LAYOUT ********************/
#stage{
  overflow:hidden;
  position:relative;
  height:1024px;
  background-image:url(../img/micro-bg.png);
}
#container{
  width:768px;
  margin:auto;
  min-height:639px;
  background-repeat:no-repeat;
  background-position:top center;
  position:relative;
}

header{
  height:188px;
}
#main{
  min-height:311px;
  width:704px;
  margin:auto;
  border:2px solid #fff;
  border-radius:12px;
  moz-border-radius:12px;
  webkit-border-radius:12px;
  position:relative;
}
html.ie6 #main{
  height:311px;
}
footer{
  height:185px;
/*  background-color:rgba(255, 255, 0, 0.2);*/
}

/************** HEADER ********************/
#header-logo{
  width:108px;
  height:140px;
  left:34px;
  margin-top:27px;
  float:left;
  position:relative;
  background-image:url(../img/logo.png);
  background-repeat:no-repeat;
}
nav{
  float:left;
  left:34px;
  margin:0px;
  margin-top:84px;
  position:relative;
/*  width:590px;*/
  white-space:nowrap;
}

nav li{
  display:inline;
  margin:0px;
  margin-left:29px;
}
html.ie nav li{
  margin-left:28px;
}
nav a{
  text-decoration:none;
  font-size:15px;
  text-transform:uppercase;
  color:#fff !important;
}
html.notie nav a.vegas:before {
  content: '✶ ';
}
html.notie nav a.vegas:after {
  content: ' ✶';
}


/************** FICHAS ********************/

.ficha{
  width:123px;
  height:123px;
  background-image:url(../img/ficha.png);
  position:absolute;
  left:50%;
  margin-left:-61px;
  top:-123px;
}

/*

table borrowed from https://github.com/benbarnett/jQuery-Animate-Enhanced/blob/master/scripts/src/jquery.animate-enhanced.js

// Penner equation approximations from Matthew Lein's Ceaser: http://matthewlein.com/ceaser/
easeInQuad:     '0.550, 0.085, 0.680, 0.530'
easeInCubic:    '0.550, 0.055, 0.675, 0.190'
easeInQuart:    '0.895, 0.030, 0.685, 0.220'
easeInQuint:    '0.755, 0.050, 0.855, 0.060'
easeInSine:     '0.470, 0.000, 0.745, 0.715'
easeInExpo:     '0.950, 0.050, 0.795, 0.035'
easeInCirc:     '0.600, 0.040, 0.980, 0.335'
easeOutQuad:    '0.250, 0.460, 0.450, 0.940'
easeOutCubic:   '0.215, 0.610, 0.355, 1.000'
easeOutQuart:   '0.165, 0.840, 0.440, 1.000'
easeOutQuint:   '0.230, 1.000, 0.320, 1.000'
easeOutSine:    '0.390, 0.575, 0.565, 1.000'
easeOutExpo:    '0.190, 1.000, 0.220, 1.000'
easeOutCirc:    '0.075, 0.820, 0.165, 1.000'
easeInOutQuad:  '0.455, 0.030, 0.515, 0.955'
easeInOutCubic: '0.645, 0.045, 0.355, 1.000'
easeInOutQuart: '0.770, 0.000, 0.175, 1.000'
easeInOutQuint: '0.860, 0.000, 0.070, 1.000'
easeInOutSine:  '0.445, 0.050, 0.550, 0.950'
easeInOutExpo:  '1.000, 0.000, 0.000, 1.000'
easeInOutCirc:  '0.785, 0.135, 0.150, 0.860'
*/

.animacao-out{
/*  easeOutQuart*/
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.00);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.00);
  -o-transition: all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.00);
  -ms-transition: all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.00);
  transition: all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.00);
}
.animacao-in{
/*  easeInQuart*/
  -webkit-transition: all 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -moz-transition:    all 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -o-transition:      all 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -ms-transition:     all 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  transition:         all 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
}
#ficha-0.ficha.animacao{
  -webkit-transition-duration:  0.7s;
  -moz-transition-duration:     0.7s;
  -o-transition-duration:       0.7s;
  -ms-transition-duration:      0.7s;
  transition-duration:          0.7s;
}
#ficha-1.ficha.animacao{
  -webkit-transition-duration:  0.3s;
  -moz-transition-duration:     0.3s;
  -o-transition-duration:       0.3s;
  -ms-transition-duration:      0.3s;
  transition-duration:          0.3s;
}
#ficha-0{
  z-index:3;
}
#ficha-1{
  z-index:2;
}
#ficha-2{
  z-index:1;
}

/************ CARDS **************/

.card{
  width:186px;
  height:254px;
  position:absolute;
  background-repeat:no-repeat;
  overflow: hidden;
}
.card a{
  display: block;
  width: 176px;
  height: 265px;
  margin-left: -32px;
  margin-top: -46px;
  outline: none;
}
.card.back{
  background-image:url(../img/carta-verso.png);
}
.card.basica{
  background-image:url(../img/carta-basica.png);
}
.card .content{
  width:112px;
  height:240px;
  position:relative;
  top:27px;
  left:38px;
  background-repeat:no-repeat;
  background-position:0px 45px;
}
html.lte8 .card .content{
  background-position:0px 0px;
}
.card.esquerda {
  top: 31px;
  left: 30px;
}
.card.centro {
    top: 31px;
    left: 261px;
}
.card.direita {
    top: 31px;
    right: 30px;
}
.card .content.home{
  background-image:url(../img/carta-img-home.png);
}
.card .cabore {
  background-image:url(../img/carta-img-trofeu.png);
}
.card.candidatos.comFoto a{
    font-family: "FlamaSemicondensedSemibold";
    color: #784a00 !important; /*IE6*/
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    padding-top: 219px;
    text-align: center;
    height:55px;
}
body.home #carta-1{
  left:150px;
  top:52px;
  opacity:0.0;
  -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
body.home #carta-0{
  left:372px;
  top:52px;
  opacity:0.0;
  -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  transform:rotate(5deg);
}
body.home #carta-2{
  left:258px;
  top:52px;
  opacity:0.0;
}
body.home #carta-2.loaded{
  opacity:1;
}
body.home #carta-1.final{
  left:140px;
  top:32px;
  opacity:1;
  -moz-transform:rotate(-11deg);
  -webkit-transform:rotate(-11deg);
  -o-transform:rotate(-11deg);
  -ms-transform:rotate(-11deg);
  transform:rotate(-11deg);
}
body.home #carta-0.final{
  left:382px;
  top:32px;
  opacity:1;
  -moz-transform:rotate(11deg);
  -webkit-transform:rotate(11deg);
  -o-transform:rotate(11deg);
  -ms-transform:rotate(11deg);
  transform:rotate(11deg);
}
body.home #carta-2.final{
  top:32px;
  opacity:1;
}
html.no-csstransforms body.home #carta-0,
html.no-csstransforms body.home #carta-0.final{
  top:35px;
  opacity:1;
}
html.no-csstransforms body.home #carta-1,
html.no-csstransforms body.home #carta-1.final{
  top:35px;
  opacity:1;
}
html.no-csstransforms body.home #carta-2,
html.no-csstransforms body.home #carta-2.final{
  top:25px !important;
  opacity:1;
}

body.indicados.detail #carta-0{
 	top: 154px;
}
body.indicados.detail #carta-1{
	top: 102px;
}
body.indicados.detail #carta-2{
	top: 50px;
}


/* ---- CANDIDATOS ---- */
.card .JairoLeal {
  background-image:url(../photos/jairo-leal.jpg);
}

.card .LuizLara {
  background-image:url(../photos/luis-lara.jpg);
}

.card .NizanGuanaes {
  background-image:url(../photos/nizan-guanaes.jpg);
}


/******* PAGE SPECIFIC STYLES *****/
/*** INDICADOS ***/
ul.indicados li:hover{
  font-family: "FlamaSemicondensedSemibold";
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
ul.indicados {
  list-style: none;
  margin:0px;
  padding:40px;
  padding-top:42px;
}
ul.indicados li{
  height: 38px;
}
ul.indicados li.last{
  height: 15px;
}
ul.indicados li.duasLinhas{
  height: 52px;
}
ul.coluna1{
  float: left;
  width: 240px;
  padding-left: 120px;
}
ul.coluna2 li{
  height: 34px;
}

/** INDICADOS DETALHES **/
body.indicados.detail #main{
  min-height:410px;
}
body.indicados.detail #sidebar{
  position: relative;
  top:-20px;
  left:30px;
}

/************ FOOTER *************/
footer{
  position: relative;
}
footer ul{
  list-style:none;
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-left: 110px;
  padding-top: 91px;
}
footer li{
  display:block;
  float:left;
  overflow:hidden;
  background-repeat:no-repeat;
}
footer li a{
  display: block;
  height: 42px;
  margin-top: -21px;
  width: 100%;  
}
#patrocinio-1{
  background-image:url(../img/patrocinadores/patrocinadores_01.png);
  width:51px;
}
#patrocinio-2{
  background-image:url(../img/patrocinadores/patrocinadores_02.png);
  width:115px;
}
#patrocinio-3{
  background-image:url(../img/patrocinadores/patrocinadores_03.png);
  width:62px;
}
#patrocinio-4{
  background-image:url(../img/patrocinadores/patrocinadores_04.png);
  width:88px;
}
#patrocinio-5{
  background-image:url(../img/patrocinadores/patrocinadores_05.png);
  width:77px;
}
#patrocinio-6{
  background-image:url(../img/patrocinadores/patrocinadores_06.png);
  width:108px;
}
#patrocinio-7{
  background-image:url(../img/patrocinadores/patrocinadores_07.png);
  width:46px;
}
/*Sombra na mesa (divs inseridos via javascript variavel sombra_bg)*/
#sombra-top, 
#sombra-bottom{
  width:100%;
  position:absolute;
}
#sombra-top{ top:0px; }
#sombra-bottom{ bottom:0px; }
#sombra-top img, 
#sombra-bottom img{ width:100%; }
#sombra-top img{ height:332px; }
#sombra-bottom img{ height:692px; }
