@font-face {
    font-family: 'FlamaSemicondensedBasic';
    src: url('../fonts/flamasemicondensed-basic-webfont.eot');
    src: url('../fonts/flamasemicondensed-basic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamasemicondensed-basic-webfont.woff') format('woff'),
         url('../fonts/flamasemicondensed-basic-webfont.ttf') format('truetype'),
         url('../fonts/flamasemicondensed-basic-webfont.svg#FlamaSemicondensedBasic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: "FlamaSemicondensedBasic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#4e9b70; /*vinho c85051*/
  background-image:url(../img/micro-bg.png);
}
html.ie6 body{
  background-image:url(../img/micro-bg-verde-IE.png);
}

/************** LAYOUT ********************/
#container{
  width:768px;
  margin:auto;
  min-height:639px;
/*  background-image:url(../img/referencia.png);*/
  background-repeat:no-repeat;
  background-position:top center;
  position:relative;
}

header{
/*  background-color:rgba(255, 255, 0, 0.2);*/
  height:188px;
}
#main{
  min-height:311px;
  width:704px;
  margin:auto;
  border:2px solid #fff;
  border-radius:12px;
  moz-border-radius:12px;
  webkit-border-radius:12px;
}
html.ie6 #main{
  height:311px;
}
footer{
  height:185px;
/*  background-color:rgba(255, 255, 0, 0.2);*/
}

/************** HEADER ********************/
#header-logo{
  width:108px;
  height:140px;
  left:34px;
  margin-top:27px;
  float:left;
  position:relative;
  background-image:url(../img/logo.png);
  background-repeat:no-repeat;
}
html.ie6 #header-logo{
  background-image:url(../img/logo-verde-IE.gif);
}
nav{
  float:left;
  left:34px;
  margin:0px;
  margin-top:84px;
  position:relative;
/*  width:590px;*/
  white-space:nowrap;
}

nav li{
  display:inline;
  margin:0px;
  margin-left:29px;
}
html.ie nav li{
  margin-left:28px;
}
nav a{
  text-decoration:none;
  font-size:15px;
  text-transform:uppercase;
  color:#fff !important;
}
html.notie nav a.vegas:before {
  content: '✶ ';
}
html.notie nav a.vegas:after {
  content: ' ✶';
}


/************** FICHAS ********************/

.ficha{
  width:123px;
  height:123px;
  background-image:url(../img/ficha.png);
  position:absolute;
  left:50%;
  margin-left:-61px;
  top:-123px;
}
html.ie6 .ficha{
  background-image:url(../img/ficha-verde-IE.gif);
}
.ficha.animacao{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ficha.animacao.sai{
  -webkit-transition: all 0.3s ease-in;
  -moz-transition:    all 0.3s ease-in;
  -o-transition:      all 0.3s ease-in;
  -ms-transition:     all 0.3s ease-in;
  transition:         all 0.3s ease-in;
}
#ficha-0.ficha.animacao{
  -webkit-transition-duration:  0.7s;
  -moz-transition-duration:     0.7s;
  -o-transition-duration:       0.7s;
  -ms-transition-duration:      0.7s;
  transition-duration:          0.7s;
}
#ficha-1.ficha.animacao{
  -webkit-transition-duration:  0.5s;
  -moz-transition-duration:     0.5s;
  -o-transition-duration:       0.5s;
  -ms-transition-duration:      0.5s;
  transition-duration:          0.5s;
}
#ficha-0{
  z-index:3;
}
#ficha-1{
  z-index:2;
}
#ficha-2{
  z-index:1;
}

/************ FOOTER *************/
footer{
  position: relative;
}
footer ul{
  list-style:none;
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-left: 110px;
  padding-top: 91px;
}
footer li{
  display:block;
  float:left;
  overflow:hidden;
  background-repeat:no-repeat;
}
footer li a{
  display: block;
  height: 42px;
  margin-top: -21px;
  width: 100%;  
}
#patrocinio-1{
  background-image:url(../img/patrocinadores/patrocinadores_01.png);
  width:51px;
}
html.ie6 #patrocinio-1{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_01.gif);
}
#patrocinio-2{
  background-image:url(../img/patrocinadores/patrocinadores_02.png);
  width:115px;
}
html.ie6 #patrocinio-2{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_02.gif);
}
#patrocinio-3{
  background-image:url(../img/patrocinadores/patrocinadores_03.png);
  width:62px;
}
html.ie6 #patrocinio-3{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_03.gif);
}
#patrocinio-4{
  background-image:url(../img/patrocinadores/patrocinadores_04.png);
  width:88px;
}
html.ie6 #patrocinio-4{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_04.gif);
}
#patrocinio-5{
  background-image:url(../img/patrocinadores/patrocinadores_05.png);
  width:77px;
}
html.ie6 #patrocinio-5{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_05.gif);
}
#patrocinio-6{
  background-image:url(../img/patrocinadores/patrocinadores_06.png);
  width:108px;
}
html.ie6 #patrocinio-6{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_06.gif);
}
#patrocinio-7{
  background-image:url(../img/patrocinadores/patrocinadores_07.png);
  width:46px;
}
html.ie6 #patrocinio-7{
  background-image:url(../img/patrocinadores/patrocinadores-verde-IE_07.gif);
}
/*Sombra na mesa (divs inseridos via javascript variavel sombra_bg)*/
#sombra-top, 
#sombra-bottom{
  width:100%;
  position:fixed;
}
#sombra-top{ top:0px; }
#sombra-bottom{ bottom:0px; }
#sombra-top img, 
#sombra-bottom img{ width:100%; }
#sombra-top img{ height:332px; }
#sombra-bottom img{ height:692px; }
