::-moz-selection,
::selection{
	background-color: rgba(0,0,0,.2);
}

@font-face {
    font-family: 'FlamaSemicondensedSemibold';
    src: url('../fonts/flamasemicondensed-semibold.eot');
    src: url('../fonts/flamasemicondensed-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamasemicondensed-semibold.woff') format('woff'),
         url('../fonts/flamasemicondensed-semibold.ttf') format('truetype'),
         url('../fonts/flamasemicondensed-semibold.svg#FlamaSemicondensedSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---- CABORE ---- */

.card .cabore {
  background-image:url(../img/carta-img-trofeu.png);
}

.card.esquerda {
	top: 31px;
	left: 30px;
}

p.colunaDeTexto {
	color: #fff;
	padding: 48px;
	padding-left: 245px;
	font-size: 15px;
	line-height: 21px;
	margin: 0px;
}

p.colunaDeTexto strong {
	font-family: "FlamaSemicondensedSemibold";
	color: #fff;
	text-decoration: none;
	font-weight: normal;
  font-style: normal;
}

/* ---- CANDIDATOS ---- */


.card.centro {
	top: 31px;
	left: 261px;
}

.card.direita {
	top: 31px;
	right: 30px;
}

.card.candidatos.comFoto a{
	font-family: "FlamaSemicondensedSemibold";
	color: #784a00;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
  font-style: normal;
	padding-top: 219px;
	text-align: center;
	height:55px;
}

.card .JairoLeal {
/*	background-position: 0px 0px;*/
  background-image:url(../photos/jairo-leal.jpg);
}

.card .LuizLara {
/*	background-position: 0px 0px;*/
  background-image:url(../photos/luis-lara.jpg);
}

.card .NizanGuanaes {
/*	background-position: 0px 0px;*/
  background-image:url(../photos/nizan-guanaes.jpg);
}

h2 {
	font-family: "FlamaSemicondensedBasic";
	color: #fff;
	text-decoration: none;
	font-weight: normal;
  font-style: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: -30px;
}